<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<h1>Students</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Program</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}">1</td>
        <td th:text="${student.firstName}">First</td>
        <td th:text="${student.lastName}">Last</td>
        <td th:text="${student.program}">Program</td>
    </tr>
    </tbody>
</table>

</body>
</html>
